body,html{
	widows: 100%
	height: 100%;
	/*background-image: url(AP_index_bgImage.jpg);*/
	background: url(image.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.t1{
	text-align: center;
}

.btn{
	font-size: 8vw;
	font-style: italic;
	font-weight: bold;
	color: pink;
	text-align: center;
	background-color: Transparent;
	border:none;
	padding-top: 0px;
  	padding-right: 0px;
  	padding-bottom: 0px;
  	padding-left: 0px;
  	transition: all ease-in-out 0.2s;
  	cursor: pointer;
}


btn:hover{
	border: 1px solid #black;
  	background-color: black;
}


h1{
	font-size:8vw;
	color: pink;
	margin: 200px auto;
}